@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin min-border($top: auto, $right: auto, $bottom: 0, $left: 0, $color: #e5e5e5) {
  &:after {
    position: absolute;
    content: '';
    background-color: $color;
    display: block;
    width: 100%;
    height: 1px;
    transform: scale(1, 0.5);
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
}

@mixin max-border($color: #e5e5e5) {
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    transform-origin: left top;
    transform: scale(0.5);
    box-sizing: border-box;
    border: 1px solid $color;
    border-radius: 4px;
  }
}

@mixin singleEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin max-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin title-line($pos-top: 4%, $pos-left: 34px, $line-width: 3px, $line-height: 20px, $color: #409eff, $font-size:16px) {
  position: absolute;
  top: $pos-top;
  left: $pos-left;
  color: $main-text-color;
  font-size: $font-size;

  &::before {
    content: '';
    width: $line-width;
    height: $line-height;
    background: $color;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-20px, -50%);
  }

}

$main-text-color: #303133;